<!-- Page Content --><br><br>
<div class="container">

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-4">
      <img src= <%=@user.img_url%> class="img-fluid">
    </div>

    <div class="col-md-4">
      <h3 class="my-3"><%= @user.name %></h3>
      <h5 class="my-3"><%= "#{@user.name} has earned: #{@user.update_status}"%></h5>
      <h5 class="my-3">Interests: </h5>
      <ul>

        <li><%= @user.interests %></li>
       
      </ul>
    </div>

  </div>
  <!-- /.row -->
  <!-- Related Projects Row -->
  <h3 class="my-4">Funded Products</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
    <% @user.funded_products.uniq.each do |fp|%>
      <a href= <%=product_path(fp.id)%> >
            <img class="img-fluid" src= <%= fp.img_url %> alt="">
          </a>
          <%end%>


    </div>
  </div>

</div>
<% if current_user == @user %>
  Logged in as <%= current_user.email %>.
<%= link_to "Log out", session_path, method: :delete %>
<% else%>
<%= link_to "View Products", products_path %>
<% end%>
<!-- /.row -->

</div>
<!-- /.container -->

