<!-- Page Content --><br><br>

<%= stylesheet_link_tag "users" %>
<div class="container">

  <!-- Portfolio Item Row -->
  <div class="row">
  <div class = img>
    <div class="col-sm-6 col-md-6 col-lg-4">
    <% if @user.img_url == ""%>
    <%= image_tag("https://thumbs.dreamstime.com/b/aesthetic-leaf-cartoon-isolated-white-vector-illustration-84382973.jpg",:width=>350, :height=>370)%>
    <% else%>
    <%= image_tag(@user.img_url,:width=>350, :height=>370)%>
      <% end%>
    </div>
    </div>

    <div class="col-md-5">
    <div class ="name">
      <h2 class="my-3"><span class="badge badge-warning"><%= @user.name %><svg class="bi bi-person" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
</svg></span> <%if current_user == @user%>
  <%= link_to "Log Out", session_path, method: :delete, :class =>"btn btn-secondary btn-sm" %> 
  <% else%>
  <% link_to "View Products", products_path %>
<% end%>
  </h2>
</div>
      <h5 class="my-3"><%= "#{@user.name} has earned: #{@user.update_status}"%><svg class="bi bi-check" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z " color = "#00acee "/>
</svg></h5>
      <h5 class="my-3">Interests: </h5>
      <ul>

        <li><%=@user.interests %></li>
       
      </ul><br><br><%if current_user == @user%>
  <%= link_to "Start A new Funding", new_product_path,  :class =>"btn btn-primary btn-lg btn-block" %> 
  <% else%>
  <% link_to "View Products", products_path %>
<% end%>
    </div>

  </div>
  <!-- /.row -->
  <!-- Related Projects Row -->
  <% if @user.funded_products.count > 0 %> 
  <h3 class="my-4">Funded Products</h3>
  <div class="row">
    
    <% @user.funded_products.uniq.each do |fp|%>
     <div class="col-md-3 col-sm-6 mb-4">
      <a href= <%=product_path(fp.id)%> >
            <img class="img-thumbnail my-thumbnail" src= <%= fp.img_url %> alt="">
          </a>
          </div>
          <%end%>
          <%end%>

  </div>

  <!-- /.row -->
  <!-- Related Projects Row -->
  <% if @user.shared_products.count > 0 %>
  <h3 class="my-4">Shared Products</h3>
   <div class="row">

    <% @user.shared_products.uniq.each do |sp|%>
     <div class="col-md-3 col-sm-6 mb-4">
      <a href= <%=product_path(sp.id)%> >
            <img class="img-thumbnail my-thumbnail" src= <%= sp.img_url %> alt="">
          </a>
          </div>
          <%end%>
      <%end%>
    
  </div>

</div>

<!-- /.row -->

</div>
<!-- /.container -->

