<%= stylesheet_link_tag "products" %>
<div class="hero-image">
  <div class="hero-text">

    <%= image_tag("https://i.imgur.com/QQSW1m3.png",:class => "center")  %>
    <p>One product at a time.</p>
    <%= link_to 'Get Started', new_user_path, :class => "btn btn-outline-light text-light>Light</button>" %>
  
    </div>
</div><br>
    
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Let's work together to make a change.</h1>
    <p class="lead">We Back Products we believe if they went plastic free would help our enviorment.</p>
  </div>
</div>
<div class="container">

  <!-- Page Heading -->
  <br>
  <h2 class="my-4">
    <small>Our Top Backed projects</small>
  </h2>
  <div class="row">
        <% @products.each do |v|%>
       <div class="col-lg-6 mb-4">
        <div class="card h-100">
        <%= link_to image_tag(v.img_url, :class => "center"), product_path(v.id) %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to v.name, product_path(v.id) %>
          </h4><br>
          <p class="product-summary"><%= v.summary %></p>
        </div>
      </div>
    </div>
    <% end%>
    </div>
