<%= stylesheet_link_tag "products" %>
<div class="hero-image">
  <div class="hero-text">

    <%= image_tag("https://i.imgur.com/QQSW1m3.png",:class => "center")  %>
    <p>One product at a time.</p>
    <% if logged_in?%>
    <%= link_to 'View My Profile', user_path(current_user), :class => "btn btn-outline-light text-light>Light</button>"%>
    <% else%>
    <%= link_to 'Get Started', new_user_path, :class => "btn btn-outline-light text-light>Light</button>" %>
    <% end%>
  
    </div>
</div><br>
    
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">We want the products we love to go plastic free!</h1>
    <p class="lead">"Of the 8.3 billion metric tons of plastic that has been produced, 6.3 billion metric tons has become plastic waste. Of that, only nine percent has been recycled." - National Geographic</p>
  </div>
</div>
<div class="container">

  <!-- Page Heading -->
  <br>
  <h2 class="my-4">
   
  </h2>
  <div class="row">
        <% @products.each do |v|%>
       <div class="col-lg-6 mb-4">
        <div class="card h-100">
        <%= link_to image_tag(v.img_url, :class => "center"), product_path(v.id) %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to v.name, product_path(v.id) %>
          </h4><br>
          <p class="product-summary"><%= v.summary %></p>
        </div>
      </div>
    </div>
    <% end%>
    </div>
