
  <!-- Portfolio Item Heading -->
  <br>
  <h5 class="my-4"><%= @product.name %>
  </h5>
<br>
  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-7">
      <%= image_tag(@product.img_url)%>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Why This Change Matters</h3>
      <p><%= @product.summary %></p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>The Original cost for this product is $<%= @product.original_cost%></li>
        <li>We are trying to Raise $<%= @product.goal_amount%></li>
        <li>This Project started <%= @product.start_date %></li>
        <li>Funding will End <%= @product.end_date %></li>
        <li>This project Was Started By <%= @product.user.name %></li>
      </ul>
    </div>

  </div>
  
  <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
