<!DOCTYPE html>
<html>
  <head>
    <title>GoPlasticFree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path "https://i.postimg.cc/285frKYt/Screen-Shot-2020-06-15-at-5-45-12-PM.png" %>
  </head>

  <body>
  
  <nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="/products">
    <img src="https://i.imgur.com/gfBU17p.png" width="200" height="60" alt="">
  </a>
  <% if logged_in?%> 
  <div class="dropdown" style="float:right;">
  <%= link_to "Hi #{current_user.name}!", user_path(current_user), :class =>"btn btn-outline-success" %>
  <div class="dropdown-content" style="right:0;">
  <%= link_to "Update Account", edit_user_path(current_user.id) %>
  <%= link_to "Add Product", new_product_path%>
  <%= link_to "Delete Product"%>
  <% if current_user == @user %>
  <%= link_to "Log Out", session_path, method: :delete%> 
  <% end %>
  </div>
</div>
  
  </nav>
  <% else%>
  <form class="form-inline">
    <a class="btn btn-outline-success" href="/sessions/new" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/users/new" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav>
<% end%>
    <%= yield %>
  </body>
</html>
