<!DOCTYPE html>
<html>
  <head>
    <title>GoPlasticFree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path "https://i.postimg.cc/285frKYt/Screen-Shot-2020-06-15-at-5-45-12-PM.png" %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" <a href='https://postimg.cc/XZ7ZDfpx' target='_blank'><img src='https://i.postimg.cc/XZ7ZDfpx/go-Plastic-Free-LOGO-Black.png' border='0' alt='go-Plastic-Free-LOGO-Black'/></a></a>

  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/login" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/signup" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav>

    <%= yield %>
  </body>
</html>
